<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>主页</title>
        <link href="../static/css/style-munu.css" rel="stylesheet" type="text/css"/>
        <link rel="stylesheet" type="text/css" href="static/css/demo1.css" />
        <link rel="stylesheet" type="text/css" href="static/css/style5.css" />

        
    </head>
    
    
    <body>


        <div class="cloud-content">
        
            <div class="cloud-header">
       
                <h3>
                    <em style="font-size:70px; font-weight:bold; font-family:'Times New Roman', Times, serif;  color: #000000;">法律服务平台</em>
                    <span>一站式数据服务，助您领跑行业</span>
                </h3>
                <div class="cloud-wrapper clearfix">
                    <a href="http://127.0.0.1:8083/法律要素检索" target="_blank"class="cloud-card">
                        <div class="cloud-card-image">
                            <div class="cloud-scale cloud-card-image-back"></div>
                            <div class="cloud-card-image-title">法律裁判文书要素检索与展示</div>
                        </div>
                        <div class="cloud-card-text">通过您所输入的关键词（包括涉事双方，相关法院和律师以及其他关键词）检索出相关的法律案件。</div>
                    </a>
                    <a href="http://127.0.0.1:8083/相似案件推荐"target="_blank" class="cloud-card">
                        <div class="cloud-card-image">
                            <div class="cloud-scale cloud-card-image-back01"></div>
                            <div class="cloud-card-image-title">相似案件的文书推荐</div>
                        </div>
                        <div class="cloud-card-text">输入案件的详细信息，包括案情类型、地区、案情详细描述等，查找出与其相类似的案件。</div>
                    </a>
                    <a href="http://127.0.0.1:8083/法律案情统计分析" target="_blank"class="cloud-card">
                        <div class="cloud-card-image">
                            <div class="cloud-scale cloud-card-image-back02"></div>
                            <div class="cloud-card-image-title">法律裁判文书统计分析</div>
                        </div>
                        <div class="cloud-card-text">根据您的具体要求将法律案件进行统计，以图表及词云的方式将其展现出来。</div>
                    </a>
                </div>
            </div>
            
        </div>

        <div class="container fix" style="margin-left:-5%">
                <div class="content">
                    <div class="button-wrapper">
                        <a target="_blank" href="http://127.0.0.1:8083/login" class="a-btn" style="background-color:cornflowerblue">
                            <span class="a-btn-symbol"></span>
                            <span class="a-btn-text" style="color:dimgrey;font-size:25px;width:300px">后台法律裁判文书处理</span> 
                            <span class="a-btn-slide-text"></span>
                            <span class="a-btn-slide-icon"></span>
                        </a>
                    </div>
                </div>
            </div>
    </body>
    
    
</html>
